{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block nav %}{{ gen_nav("About") }}{% endblock %}
{% block content %}
  <div class="page-header">
    <h1>About <small>the GroupStreamer project</small></h1>
  </div>

  <div class="row">
    <div class="span12">
      <p>
        GroupStreamer is no longer a single-person effort&mdash;several <a
        href="http://ic.epfl.ch/">EPFL</a> students are contributing to its
        development. <strong>Meet the team!</strong>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="span4">
      <h3 class="homebox">Marc Bourqui</h3>
      <a href="http://people.epfl.ch/marc.bourqui"
          class="thumbnail dev">
        <img src="/static/img/marc.jpg"/>
      </a>
      <p>
        Marc is a 4<sup>th</sup> year computer science major at <a
        href="http://ic.epfl.ch/">EPFL</a>.
      </p>
      <p>
        He is behind the <strong>solo mode</strong> that enables you to create
        playlists and enjoy GroupStreamer even when there are no groups around.
      </p>
      <p><a class="btn" href="http://people.epfl.ch/marc.bourqui">Personal web
      site &raquo;</a></p>
    </div>

    <div class="span4">
      <h3 class="homebox">Vincent Jalil</h3>
      <a href="http://lnkd.in/758YSk" class="thumbnail dev">
        <img src="/static/img/vincent.jpg"/>
      </a>
      <p>
        Vincent is a 4<sup>th</sup> year communication systems major at <a
        href="http://ic.epfl.ch/">EPFL</a>.
      </p>
      <p>
        Together with Louis, he added cool new features such as
        <strong>automatic group detection</strong> and <strong>NFC group
        sharing</strong>.
      </p>
      <p><a class="btn" href="http://lnkd.in/758YSk">LinkedIn profile
      &raquo;</a></p>
    </div>
    <div class="span4">
      <h3 class="homebox">Louis Magarshack</h3>
      <a href="http://www.linkedin.com/pub/louis-magarshack/57/287/287"
          class="thumbnail dev">
        <img src="/static/img/louis.jpg"/>
      </a>
      <p>
        Louis is a 4<sup>th</sup> year communication systems major at <a
        href="http://ic.epfl.ch/">EPFL</a>.
      </p>
      <p>
        Together with Vincent, he worked on <strong>automatic group
        detection</strong>, <strong>NFC group sharing</strong> and overall
        improvements.
      </p>
      <p><a class="btn"
      href="http://www.linkedin.com/pub/louis-magarshack/57/287/287">LinkedIn
      profile &raquo;</a></p>
    </div>
    <div style="clear: both;">&nbsp;</div>
    <div class="span4">
      <h3 class="homebox">Lucas Maystre</h3>
      <a href="http://lucas.maystre.ch/" class="thumbnail dev">
        <img src="/static/img/lucas.jpg"/>
      </a>
      <p>
        Lucas is a 2<sup>nd</sup> year PhD student at the <a
        href="http://lca.epfl.ch/">LCA 4</a>.
      </p>
      <p>
        He is the <strong>creator of GroupStreamer</strong>, which was
        originally developed during his <a
        href="http://infoscience.epfl.ch/record/183559/">master's thesis</a>.
      </p>
      <p><a class="btn" href="http://lucas.maystre.ch/">Personal web site
      &raquo;</a></p>
    </div>
    <div class="span4">
      <h3 class="homebox">Hieu Pham</h3>
      <a href="http://hieup.com" class="thumbnail dev">
        <img src="/static/img/hieu.jpg"/>
      </a>
      <p>
        Hieu is a 5<sup>th</sup> year master student in computer science at <a
        href="http://ic.epfl.ch/">EPFL</a>.
      </p>
      <p>
        He developed cutting edge algorithms to improve <strong>group
        recommendations</strong> by taking advantage of user feedback.
      </p>
      <p><a class="btn" href="http://hieup.com">Personal web site
      &raquo;</a></p>
    </div>

  </div>
{% endblock %}
